body {
  background: #ffd6e8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Comic Sans MS", cursive;
}

.phone {
  width: 420px;
  height: 440px;
  border-radius: 30px;
  padding: 15px;
   background: #ff8fc7;
  box-shadow:
    inset 0 0 0 4px #fff,
    0 10px 25px rgba(0,0,0,0.25);
}

.screen {
  border: solid 30px #ff4f9a;
  background: #ffa7d0;
  border-radius: 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 20px;
  box-sizing: border-box;
}


.timer {
  font-size: 48px;
  color: #ff4f9a;
  background: #fff;
  padding: 8px 16px;
  border-radius: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn {
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.start {
  background: #ff8fc7;
}

.stop {
  background: #ffc1dd;
}

.top-gif,
.bottom-gif {
  width: 120px;
}

.btn-icon {
  width: 18px;
}
